parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#.*MF\\Collection\\AbstractTestCase::forAll\(\).*#'
        - '#.*Eris\\Generator\\.*#'
        - '#.*expects callable, callable|string given.*#'
        - '#.*PHPDoc tag @param has invalid value.*#'
        - '#.*PHPDoc tag @return contains unresolvable type.*#'
        - '#.*PHPDoc tag @return has invalid value.*#'
        - '#.*PHPDoc tag @param for parameter \$values with type mixed is not subtype.*#'
        - '#.*PHPDoc tag @param for parameter \$\w+ contains unresolvable type.*#'
        - '#.*Call to function count\(\) with argument type iterable will always result in number 1.*#' # remove this after is_countable is usable
        - '#.*Strict comparison using === between callable\|iterable\|string and null will always evaluate to false.*#'
