<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" colors="true"
         bootstrap="vendor/autoload.php">

    <coverage>
        <report>
            <clover outputFile="./code-coverage/clover.xml"/>
            <html outputDirectory="./code-coverage" highLowerBound="90"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <!-- E_ALL = 30719 -->
        <ini name="error_reporting" value="30719"/>
    </php>

    <testsuites>
        <testsuite name="MFCollections Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="./code-coverage/junit.xml"/>
    </logging>
</phpunit>
